<div class="tab-pane fade" id="v-pills-change-password" role="tabpanel" aria-labelledby="v-pills-change-password-tab">
    <form  method="post" id='change_password_form'>
        {% csrf_token %}
        <div class="row">
            <div class="col-8">
            
                <div class="form-group">
                    {{changePasswordForm.old_password.label }}
                    {{ changePasswordForm.old_password }}
                    {{ changePasswordForm.old_password.errors }}
                </div>
                <div class="form-group">
                    {{changePasswordForm.new_password.label }}
                    {{ changePasswordForm.new_password }}
                    {{ changePasswordForm.new_password.errors }}

                </div>
                <div class="form-group">
                    {{changePasswordForm.confirm_password.label }}
                    {{ changePasswordForm.confirm_password }}
                    {{ changePasswordForm.confirm_password.errors }}

                </div>
                {% if changePasswordForm.non_field_errors %}
                    <div class="form-group alert alert-danger">
                        <ul>
                            {% for error in changePasswordForm.non_field_errors %}
                                <li>{{ error|escape }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="form-group">
                    <h6 id="message"></h6>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <input type="button" id='change_password_submit_button' value="Change Password" class="site-btn w-100">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
