{% load static %}
<!-- Footer section -->
<section class="footer-section">
    <div class="container">
        <!-- <div class="footer-logo text-center">
            <a href="index.html"><img src="{% static 'img/happy1.png' %}" alt=""></a>
        </div> -->
        <div class="row">
            <div class="col-lg-4 col-sm-4">
                <div class="footer-widget about-widget">
                    <h2>About</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4  pl-5 pr-5">
                <div class="footer-widget about-widget">
                    <h2>Questions</h2>
                    <ul>
                        <li><a target="_blank" href="#">About Us</a></li>
                        <li><a target="_blank" href="#">Our Experties</a></li>
                        <li><a target="_blank" href="#" >Hire Resources</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a target="_blank" rel="noopener noreferrer" href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="footer-widget contact-widget">
                    <h2>CONTACT INFO</h2>
                    <div class="con-info">
                        <p>Happy Solutions Pvt Ltd</p>
                    </div>
                    <div class="con-info">
                        <p>My Address</p>
                    </div>
                    <div class="con-info">
                        <p><a href="#" style="text-decoration: none; color: #8f8f8f;">+1234567890</a></p>
                    </div>
                    <div class="con-info">
                        <p><a
                            href="#" style="text-decoration: none; color: #8f8f8f;">happy@yopmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</section>
<!-- Footer section end -->
